**Write a Pandas program to implement following operation**

*  to create a dataframe from a dictionary and display it

In [ ]:
import pandas as pd

d={"Name":['Mumtahin','Soneir']}

a=pd.DataFrame(d)

print(a)

*  to sort the DataFrame first by 'name' in ascending order

In [ ]:
import pandas as pd

d={'name':['Mumtahin','Soneir','chintan']}

a=pd.DataFrame(d)

a=a.sort_values(by='name',ascending=True)

print(a)

*  to delete the one specific column from the DataFrame

In [ ]:
import pandas as pd

d={'name':['a','b','ab'],'spi':[1,2,3]}

a=pd.DataFrame(d)

a=a.drop('name',axis=1)

print(a)

*  to write a DataFrame to CSV file using tab separator

In [ ]:
a.to_csv("hellow.csv",sep='\t',index=False)

b=pd.read_csv("hellow.csv")

print(b)